<?xml version="1.0"?>
<robot name="MiniM5Robo" xmlns:xacro="http://ros.org/wiki/xacro">
	<link name="base_link"/>
	<joint name="body_joint" type="fixed">
		<parent link="base_link"/>
		<child  link="body_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>
	<link name="body_link">
		<visual>
			<geometry>
				<mesh filename="package://minim5robo_bridge/urdf/stl/MiniM5Robo.stl"/>
				<!-- <mesh filename="stl/MiniM5Robo.stl"/> -->
			</geometry>
		</visual>
		<material name="gray">
			<color rgba="0.8 0.8 0.8 0.5"/>
		</material>
	</link>
</robot>